/* Reset and basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.theme-dark {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    width: 100%;
    background-color: aliceblue;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.logo {
    height: 40px;
}
.nav-items {
    list-style: none;
    display: flex;
    gap: 45px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}
.nav-items li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
hr{
    width:70%;
    height: 1px;
    background-color: green;
    margin:0 5px;
    display: none;
}
.nav-items a{
    text-decoration: none;
}
#navmenu a.active{
    font-weight: bolder;
    background-image: linear-gradient(250deg,blue,green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease;
}
#navmenu a.active hr{
    display: block;
}
.theme-icon{
    height: 30px;
    cursor: pointer;
    margin-right: 50px;
}
 .menu-icon {
    height: 30px;
    cursor: pointer;
    margin-right: 50px;
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 150px;
        top: 100%;
        right: 16px;
        background-color: rgb(243, 234, 221);
        padding: 10px;
        margin: 0;
        gap: 20px;
        transition: all 1s ease-in-out;
    }
    .nav-items.open {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .menu-icon {
        display: block;
    }
}
